.small-img {
    width: 50px;
}

.action-td-lg {
    min-width: 125px;
}

.default-link {
   color: inherit;
}

#hidden-table-info tr.odd td.sorting_1, #hidden-table-info tr.odd,
#delivery-table tr.odd td.sorting_1, #delivery-table tr.odd,
#deliveries-table tr.odd td.sorting_1, #deliveries-table tr.odd,
#fair-table tr.odd td.sorting_1, #fair-table tr.odd,
#items-table tr.odd td.sorting_1, #items-table tr.odd,
#users-table tr.odd td.sorting_1, #users-table tr.odd {
    background-color: inherit; !important;
}

#hidden-table-info, #delivery-table {
    cursor: default;
}

.step label.radio-inline-product-form {
    display: inline;
    margin-right: 20px;
}

.step label {
    display: inline; !important;
}

section.panel div.bio-graph-heading,
section.panel div.fair-description-heading {
    padding: 15px 110px;
}

.btn-product-page {
    margin-top: 45px;
}

.img-btn {
    cursor: pointer;
}

.desc_btn {
    width: 60px;
}

/*product progress bar styles*/
.status-0-registered {
    width: 25%;
    background-color: #f0ad4e;
}
.status-0-courier {
    width: 50%;
    background-color: #5bc0de;
}
.status-0-stock {
    width: 75%;
    background-color: #5cb85c;
}
.status-1-registered {
    width: 20%;
    background-color: #f0ad4e;
}
.status-1-courier {
    width: 40%;
}
.status-1-stock {
    width: 60%;
    background-color: #5bc0de;
}
.status-1-sale {
    width: 80%;
    background-color: #5cb85c;
}
.status-1-donated, .status-0-donated, .status-1-sold {
    width: 100%;
    background-color: #5cb85c;
}

#ms-delivery_multi_select, #ms-delivery_multi_select2 {
    width: 100%;
}

.map-container {
    height: 300px;
}

.nearest-delivery-body h4 {
    margin-top: 80px;
}

a.edit {
    margin: 5px;
}

.action-td {
    min-width: 75px;
}

.social-link a img {
    width: 30px;
    height: 30px;
    margin: 5px 2px;
}

.lang-container {
    height: 30px;
}